---
import BlogCard from "../blog/BlogCard.astro";
import IntroduceCard from "../blog/IntroduceCard.astro";
---

<div class="container">
    <div class="introduce-card-container">
        <IntroduceCard />
    </div>
    <div class="blog-card-container">
        <BlogCard />
        <BlogCard />
        <BlogCard />
        <BlogCard />
        <BlogCard />
    </div>
</div>

<style>
    .container {
        display: flex;
        padding: 20px 0;
        justify-content: center;
        gap: 30px;
        max-width: 1200px;
        margin: 0 auto;
    }

    .blog-card-container {
        display: flex;
        flex-direction: column;
        gap: 30px;
    }
</style>