---
import { getCollection } from "astro:content";

import BlogCard from "../blog/BlogCard.astro";
import IntroduceCard from "../blog/IntroduceCard.astro";
import CategoryCard from "../blog/CategoryCard.astro";
import TagCard from "../blog/TagCard.astro";

const allPosts = await getCollection("blogPost",  post  => {
    return import.meta.env.PROD ? post.data.draft !== true : true;
});

const sortedPosts = allPosts.sort((a, b) =>
    b.data.pubDate > a.data.pubDate ? -1 : 1,
);
---

<div class="container" transition:animate="initial">
    <div class="introduce-card-container">
        <IntroduceCard />
        <CategoryCard />
        <TagCard />
    </div>
    <div class="blog-card-container">
        {sortedPosts.map((post) => <BlogCard post={post} />)}
        <!-- <BlogCard post={sortedPosts[0]}></BlogCard> -->
    </div>
</div>

<style>

    .container {
        display: flex;
        padding: 20px 10px;
        justify-content: center;
        gap: 30px;
        max-width: 1200px;
        margin: 0 auto;
    }

    .blog-card-container {
        display: flex;
        flex-direction: column;
        gap: 30px;
    }

    .introduce-card-container {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    @media (max-width: 1200px) {
        .container{
            gap: 10px;
        }
    }

    @media (max-width: 650px) {
        .introduce-card-container {
            display: none;
        }
    }
</style>
