---
import { Image } from "astro:assets";
import profile from "@assets/blog/profile.png";
---

<div class="container">
    <Image src={profile} alt="profile"/>
    <h2 class="name">海炽HaiChi</h2>
    <div class="divider"></div>
    <div class="description">
        <p>事已至此，先吃饭吧</p>
    </div>
    <div class="contact">
        <a href="https://space.bilibili.com/30966165">
            <svg viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="10188"><path d="M777.514667 131.669333a53.333333 53.333333 0 0 1 0 75.434667L728.746667 255.829333h49.92A160 160 0 0 1 938.666667 415.872v320a160 160 0 0 1-160 160H245.333333A160 160 0 0 1 85.333333 735.872v-320a160 160 0 0 1 160-160h49.749334L246.4 207.146667a53.333333 53.333333 0 0 1 75.392-75.434667l113.152 113.152c3.370667 3.370667 6.186667 7.04 8.448 10.965333h137.088c2.261333-3.925333 5.12-7.68 8.490667-11.008l113.109333-113.152a53.333333 53.333333 0 0 1 75.434667 0z m1.152 231.253334H245.333333a53.333333 53.333333 0 0 0-53.205333 49.365333l-0.128 4.010667v320c0 28.117333 21.76 51.114667 49.365333 53.162666l3.968 0.170667h533.333334a53.333333 53.333333 0 0 0 53.205333-49.365333l0.128-3.968v-320c0-29.44-23.893333-53.333333-53.333333-53.333334z m-426.666667 106.666666c29.44 0 53.333333 23.893333 53.333333 53.333334v53.333333a53.333333 53.333333 0 1 1-106.666666 0v-53.333333c0-29.44 23.893333-53.333333 53.333333-53.333334z m320 0c29.44 0 53.333333 23.893333 53.333333 53.333334v53.333333a53.333333 53.333333 0 1 1-106.666666 0v-53.333333c0-29.44 23.893333-53.333333 53.333333-53.333334z" p-id="10189 " fill="#396FA2"></path></svg>
        </a>
        <a href="https://github.com/Hai-Chi/">
            <svg viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="11148" ><path d="M512 42.666667A464.64 464.64 0 0 0 42.666667 502.186667 460.373333 460.373333 0 0 0 363.52 938.666667c23.466667 4.266667 32-9.813333 32-22.186667v-78.08c-130.56 27.733333-158.293333-61.44-158.293333-61.44a122.026667 122.026667 0 0 0-52.053334-67.413333c-42.666667-28.16 3.413333-27.733333 3.413334-27.733334a98.56 98.56 0 0 1 71.68 47.36 101.12 101.12 0 0 0 136.533333 37.973334 99.413333 99.413333 0 0 1 29.866667-61.44c-104.106667-11.52-213.333333-50.773333-213.333334-226.986667a177.066667 177.066667 0 0 1 47.36-124.16 161.28 161.28 0 0 1 4.693334-121.173333s39.68-12.373333 128 46.933333a455.68 455.68 0 0 1 234.666666 0c89.6-59.306667 128-46.933333 128-46.933333a161.28 161.28 0 0 1 4.693334 121.173333A177.066667 177.066667 0 0 1 810.666667 477.866667c0 176.64-110.08 215.466667-213.333334 226.986666a106.666667 106.666667 0 0 1 32 85.333334v125.866666c0 14.933333 8.533333 26.88 32 22.186667A460.8 460.8 0 0 0 981.333333 502.186667 464.64 464.64 0 0 0 512 42.666667" p-id="11149" fill="#396FA2"></path></svg>
        </a>
    </div>
</div>

<style>
    .container {
        padding: 10px;
        background-color: #fff;
        border-radius: 10px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .container img {
        width: 200px;
        height: auto;
        border-radius: 10px;
        background: linear-gradient(135deg, #ffe6e6, #dbf1ff);
    }

    .name {
        margin: 0;
        padding: 0;
        font-size: 20px;
        font-weight: bold;
        color: #555;
        text-align: center;
        margin-top: 10px;
    }

    .divider {
        width: 80px;
        height: 5px;
        border-radius: 5px;
        background-color: rgb(92, 171, 255);
        margin-top: 5px;
    }

    .description {
        margin: 0;
        padding: 0;
        font-size: 16px;
        color: #555;
        text-align: center;
        margin-top: 10px;
    }

    .contact {
        margin-top: 10px;
    }

    .contact a {
        display: inline-block;
        padding: 5px;
        width: 40px;
        height: 40px;
        border-radius: 5px;
        background-color: rgb(140, 207, 255,0.5);
        margin: 0 5px;
    }
</style>
