<div></div>

<style>
    div {
        position: fixed;
        top: 0;
        left: 0;
        z-index: -1000000;
        width: 100vw;
        height: 100vh;
        background-color: #69b1ff17;
    }
</style>