<div></div>

<style>
    div {
        position: fixed;
        top: 0;
        left: 0;
        z-index: -1000000;
        width: 100vw;
        height: 100vh;
        background-image: linear-gradient(100deg, #728aff 0%, #ff7777 100%);
    }
</style>