<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="generator" content={Astro.generator} />
    <!-- 个性化 -->
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>🚧 小海浅湾 施工中 🚧</title>
    <!-- 开放图谱标签 -->
    <meta property="og:title" content="小海浅湾——Haichi's Blog" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://blog.haichi.top/" />
    <meta property="og:description" content="欢迎光临小海浅湾" />
    <meta
        property="og:image"
        content="https://blog.haichi.top/_astro/profile.BEsD2Rya.png"
    />
    <meta property="og:image:alt" content="小海浅湾" />
    <!-- QQ链接解析 -->
    <meta itemprop="name" content="小海浅湾——Haichi's Blog" />
    <meta itemprop="description" content="欢迎光临小海浅湾" />
    <meta
        itemprop="image"
        content="https://blog.haichi.top/_astro/profile.BEsD2Rya.png"
    />
</head>
