---
import Footer from "../components/common/Footer.astro";
import Header from "../components/common/Header.astro";
import Background from "../components/common/Background.astro";
import Head from "../components/common/Head.astro";
import { ClientRouter } from "astro:transitions";
import "../styles/global.css";
---

<!doctype html>
<html lang="zh">
	<ClientRouter />
	<Head />
	<body>
		<Header />
		<main>
			<slot />
		</main>
		<Footer />
		<Background />
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}

	main{
		min-height: 100%;
	}
</style>
